/* .login-cover {
  background-image: url("/assets/img/login-cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-overlay {
  position: absolute;
  inset: 0; 
  background-color: rgba(33, 37, 41, 0.5);
  z-index: 0;
}

.login-cover img {
  position: relative;
  z-index: 10;
  width: 16rem;
} */
