<header
  class="relative h-full py-10 bg-white bg-bottom bg-cover"
  style="background-image: url('/assets/img/login-cover.jpg')"
>
  <!-- White transparent overlay -->
  <div class="absolute inset-0 bg-white opacity-80"></div>

  <!-- Content container -->
  <div
    class="relative z-10 container mx-auto flex flex-col items-center justify-center gap-4"
  >
    <div class="flex items-center gap-4">
      <img
        src="/assets/img/logo.png"
        alt="logo.png"
        class="w-16 h-16 object-contain"
      />
      <div class="text-center">
        <h1
          class="text-xl uppercase font-bold"
          style="font-family: 'Times New Roman', serif"
        >
          Batangas State University
        </h1>
        <h2 class="text-sm text-red-500" style="font-family: Arial, sans-serif">
          The National Engineering University
        </h2>
      </div>
    </div>

    <!-- Portal Title -->
    <div class="mt-2 text-center">
      <h3
        class="text-4xl uppercase font-black"
        style="font-family: Arial, sans-serif"
      >
        Student Trainee Portal
      </h3>
    </div>
  </div>
</header>
